<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link href="{% static 'whatsapp/css/dashboard.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <h1>{{ header }}</h1>

    <div class="modal" id="qr-modal">
        <div class="modal-content">
            <h2>📱 Escanea el código QR</h2>
            <img alt="Código QR para iniciar sesión" id="qr-image" src="">
            <p id="qr-instruction">Abre WhatsApp en tu teléfono y escanea el código.</p>
        </div>
    </div>

    <button id="start-btn">{{ start_button }}</button>
    <button id="reset-data-btn">{{ reset_data_button }}</button>
    <button id="reset-session-btn">{{ reset_session_button }}</button>
    <p id="status">Estado: <span id="estado">{{ initial_status }}</span></p>

    <div class="result-section">
        <h2 class="toggle-header">{{ to_send_title }}<span class="toggle-icon">🔽</span></h2>
        <ul class="toggle-list" id="por-enviar-list"></ul>
    </div>

    <div class="result-section">
        <h2 class="toggle-header">{{ success_title }}<span class="toggle-icon">🔽</span></h2>
        <ul class="toggle-list" id="enviados-list">
        </ul>
    </div>

    <div class="result-section">
        <h2 class="toggle-header">{{ error_title }}<span class="toggle-icon">🔽</span></h2>
        <ul class="toggle-list" id="errores-list"></ul>
    </div>
</div>

<script>
    const sendingStatus = "{{ sending_status|escapejs }}"
</script>

<script defer src="{% static 'whatsapp/js/dashboard.js' %}"></script>

</body>
</html>
